
/* Outline Appears */

.boot1 {
    left: calc(100vw - 63vw);
    top: calc(100vh - 58vh);
    width: 0vw;
    height: 0vh;
    border-width: 4px;
    border-color: white;
    position: fixed;

    animation:boot1 1.4s ease-in-out forwards;
}

@keyframes boot1 {
    0% {
        
    }
    20% {
        border-width: 4px;
        width: 26vw;
    }
    100% {
        border-width: 4px;
        width: 26vw;
        height: 11.8vh;
    }
}