
/* Seccond Notch, bottom right */

.hidesq4 {
    top: 48.5vh;
    left: 63vw;
    z-index: 2;
}

.hidesq5 {
    top: 53.8vh;
    left: 60.4vw;
    z-index: 2;
}

.hidesq6 {
    border-color: white;
    top: 53.1vh;
    left: 129.2vh;
    rotate: -45deg;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    z-index: 1;

    animation: notch2 .3s ease 1s forwards;
}

@keyframes notch2 {
    0% {

    }
    100% {
    top: 51.1vh;
    left: 127.2vh;
    }
}

@keyframes notch4 {
    0% {

    }
    100% {
    top: 51.4vh;
    left: 127.5vh;
    }
}