:root {
    --w:'';
    --h:'';
}

#Intro {
    animation-name: intro;
    animation-duration: .5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    display: inline;
}

@keyframes intro {
    from {
        display: inline;
    }
    to {
        opacity: 0%;
    }
}

#box {
    background-color: black;
    width: 1915px;
    height: 0px;
    position: fixed;
    z-index: 1;
    left: calc((var(--w) / 2) - 957.5px);
    bottom: calc((var(--h) / 2));
    opacity: 30%;

    animation-name: box;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;    
}

@keyframes box {
    from {

    }
    to {
        height: 200px;
    }
}

#box1 {
    background-color: black;
    width: 1915px;
    height: 0px;
    position: fixed;
    z-index: 1;
    left: calc((var(--w) / 2) - 957.5px);
    top: calc((var(--h) / 2));
    opacity: 30%;

    animation-name: box1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes box1 {
    from {

    }
    to {
        height: 200px;
    }
}

.font1 {
    font-family: "Allerta Stencil", serif;
    font-weight: 400;
    font-style: normal;
}

.text1 {
    font-size: 15mm;
    position: fixed;
    color: white;
    z-index: 2;
    left: calc((var(--w) / 2) - 235px);
    top: calc((var(--h) / 2) - 40px);
    opacity: 0%;

    animation-name: text1;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes text1 {
    from {

    }
    to {
        opacity: 100%;
    }
}

.text2 {
    font-size: 14mm;
    color: white;
    position: fixed;
    z-index: 2;
    left: calc((var(--w) / 2) - 50px);
    top: calc((var(--h) / 2) - 35px);
    background-color: rgb(72, 214, 62);
    border-color: rgb(72, 214, 62);
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0%;

    animation-name: text2;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes text2 {
    from {

    }
    to {
        opacity: 100%;
    }
}

#box3 {
    background-color: rgb(9, 18, 19);
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    left: calc((var(--w) / 2) - 87px);
    top: calc((var(--h) / 2) - 67px);
    rotate: 45deg;
    opacity: 0%;

    animation-name: box3;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes box3 {
    from {

    }
    to {
        opacity: 100%;
    }
}

#box4 {
    background-color: rgb(9, 18, 19);
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    left: calc((var(--w) / 2) +  220px);
    top: calc((var(--h) / 2) + 20px);
    rotate: 45deg;
    opacity: 0%;

    animation-name: box4;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes box4 {
    from {

    }
    to {
        opacity: 100%;
    }
}

#box5 {
    background-color: black;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 4;
    left: calc((var(--w) / 2) +  220px);
    top: calc((var(--h) / 2) + 20px);
    rotate: 45deg;
    opacity: 0%;

    animation-name: box5;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes box5 {
    from {

    }
    to {
        opacity: 30%;
    }
}

#box6 {
    background-color: black;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    left: calc((var(--w) / 2) - 87px);
    top: calc((var(--h) / 2) - 67px);
    rotate: 45deg;
    opacity: 0%;

    animation-name: box6;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes box6 {
    from {

    }
    to {
        opacity: 30%;
    }
}

#box7 {
    width: 350px;
    height: 0px;
    border-right: 5px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-color: white;
    background-color: rgb(9, 18, 19);
    border-style: solid;
    position: fixed;
    z-index: 4;
    left: calc((var(--w) / 2) - 355px);
    top: calc((var(--h) / 2) - 50px);

    animation-name: box7, box7-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s, 2s;
}

@keyframes box7 {
    0% {

    }
    100% {
        height: 100px;
    }
    
}

@keyframes box7-2 {
    from {

    }
    to {
        left: calc((var(--w) / 2) - 655px);
    }
    
}

#box8 {
    width: 350px;
    height: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 5px;
    border-top: 0px;
    border-color: white;
    border-style: solid;
    background-color: rgb(9, 18, 19);
    position: fixed;
    z-index: 4;
    left: calc((var(--w) / 2) + 0px);
    bottom: calc((var(--h) / 2) - 50px);

    animation-name: box8, box8-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s, 2s;
}

@keyframes box8 {
    from {

    }
    to {
        height: 100px;
    }
    
}

@keyframes box8-2 {
    from {

    }
    to {
        left: calc((var(--w) / 2) + 300px);
    }
    
}

#box9 {
    width: 350px;
    height: 0px;
    border-right: 5px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-color: white;
    background-color: black;
    border-style: solid;
    position: fixed;
    z-index: 4;
    left: calc((var(--w) / 2) - 355px);
    top: calc((var(--h) / 2) - 50px);
    opacity: 30%;

    animation-name: box9, box9-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s, 2s;
}

@keyframes box9 {
    0% {

    }
    100% {
        height: 100px;
    }
    
}

@keyframes box9-2 {
    from {

    }
    to {
        left: calc((var(--w) / 2) - 655px);
    }
    
}

#box10 {
    width: 350px;
    height: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 5px;
    border-top: 0px;
    border-color: white;
    border-style: solid;
    background-color: black;
    position: fixed;
    z-index: 4;
    left: calc((var(--w) / 2) + 0px);
    bottom: calc((var(--h) / 2) - 50px);
    opacity: 30%;

    animation-name: box10, box10-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s, 2s;
}

@keyframes box10 {
    from {

    }
    to {
        height: 100px;
    }
    
}

@keyframes box10-2 {
    from {

    }
    to {
        left: calc((var(--w) / 2) + 300px);
    }
    
}