
/* First animation (rectangle pop up) */

.boot1 {
    left: 37vw;
    top: 42vh;
    width: 0px;
    height: 0px;
    border-width: 4px;
    border-color: white;
    position: fixed;

    animation-name: boot1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out  ;
}

@keyframes boot1 {
    0% {
        
    }
    20% {
        border-width: 4px;
        width: 500px;
    }
    100% {
        border-width: 4px;
        width: 500px;
        height: 100px;
    }
}


/* Seccond animation (rectanlge notch) */

/* First Notch (top left)*/

.hidesq1 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 42vh;
    left: 34.4vw;
    z-index: 2;
}

.hidesq2 {
    width: 100px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 36.6vh;
    left: 34.4vw;
    z-index: 2;
}

.hidesq3 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    border-color: white;
    position: fixed;
    top: 37.4vh;
    left: 71.6vh;
    rotate: -45deg;
    border-top-width: 0px;
    border-bottom-width: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    z-index: 1;

    animation-name: notch1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-timing-function: ease;
}


@keyframes notch1 {
    0% {

    }
    100% {
    top: 39.4vh;
    left: 73.8vh;
    }
}

/* Seccond Notch (bottom right)*/

.hidesq4 {
    width: 50px;
    height: 100px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 47.4vh;
    left: 63vw;
    z-index: 2;
}

.hidesq5 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 52.7vh;
    left: 60.4vw;
    z-index: 2;
}

.hidesq6 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    border-color: white;
    position: fixed;
    top: 52vh;
    left: 129.2vh;
    rotate: -45deg;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    z-index: 1;

    animation-name: notch2;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-timing-function: ease;
}

@keyframes notch2 {
    0% {

    }
    100% {
    top: 50vh;
    left: 127.2vh;
    }
}

.boottext {
    font-size: 14mm;
    position: fixed;
    z-index: 2;
    top: 40.5vh;
    opacity: 0%;

    animation-name: boottext;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes boottext {
    0% {

    }
    100% {
    opacity: 100%;
    }
}