
/* First animation (rectangle pop up) */

.boot1 {
    left: 37vw;
    top: 42vh;
    width: 0px;
    height: 0px;
    border-width: 4px;
    border-color: white;
    position: fixed;

    animation-name: boot1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out  ;
}

@keyframes boot1 {
    0% {
        
    }
    20% {
        border-width: 4px;
        width: 500px;
    }
    100% {
        border-width: 4px;
        width: 500px;
        height: 110px;
    }
}


/* Seccond animation (rectanlge notch) */

/* First Notch (top left)*/

.hidesq1 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 42vh;
    left: 34.4vw;
    z-index: 2;
}

.hidesq2 {
    width: 100px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 36.6vh;
    left: 34.4vw;
    z-index: 2;
}

.hidesq3 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    border-color: white;
    position: fixed;
    top: 37.4vh;
    left: 71.6vh;
    rotate: -45deg;
    border-top-width: 0px;
    border-bottom-width: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    z-index: 1;

    animation-name: notch1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: ease;
}


@keyframes notch1 {
    0% {

    }
    100% {
    top: 39.4vh;
    left: 73.8vh;
    }
}

/* Seccond Notch (bottom right)*/

.hidesq4 {
    width: 50px;
    height: 100px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 48.5vh;
    left: 63vw;
    z-index: 2;
}

.hidesq5 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
    top: 53.8vh;
    left: 60.4vw;
    z-index: 2;
}

.hidesq6 {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    border-color: white;
    position: fixed;
    top: 53.1vh;
    left: 129.2vh;
    rotate: -45deg;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    z-index: 1;

    animation-name: notch2;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: ease;
}

@keyframes notch2 {
    0% {

    }
    100% {
    top: 51.1vh;
    left: 127.2vh;
    }
}

.boottext1 {
    font-size: 15mm;
    position: fixed;
    z-index: -2;
    top: 43.2vh;
    left: 79.4vh;
    opacity: 0%;

    animation-name: boottext1;
    animation-duration: .4s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

@keyframes boottext1 {
    0% {
        opacity: 0%;
    }
    2% {
        opacity: 100%;
    }
    8% {
        opacity: 0%;
    }
    100% {
    opacity: 100%;
    }
}

.boottext2 {
    font-size: 14mm;
    color: rgb(9, 18, 19);
    position: fixed;
    z-index: -2;
    top: 43.5vh;
    left: 97.2vh;
    opacity: 0%;
    background-color: rgb(72, 214, 62);
    border-color: rgb(72, 214, 62);
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;

    animation-name: boottext2;
    animation-duration: .4s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

@keyframes boottext2 {
    0% {
        opacity: 0%;
    }
    2% {
        opacity: 100%;
    }
    8% {
        opacity: 0%;
    }
    100% {
    opacity: 100%;
    }
}