.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.font1 {
    font-family: "Allerta Stencil", serif;
    font-weight: 400;
    font-style: normal;
}

.sq {
    width: 2.5vw;
    height: 5vh;
    background-color: blue;
    position: fixed;
}

.sq2 {
    width: 10vh;
    height: 5vh;
    background-color: red;
    position: fixed;
}

.sq3 {
    width: 2.5vw;
    height: 2.5vw;
    background-color: blue;
    position: fixed;
}
