.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.font1 {
    font-family: "Allerta Stencil", serif;
    font-weight: 400;
    font-style: normal;
}

.sq {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
}

.sq2 {
    width: 100px;
    height: 50px;
    background-color: rgb(9, 18, 19);
    position: fixed;
}